.content{
    height: 4rem;
}

.container{
    max-width: 1028px;
    margin: 0 auto;
    height: 4rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
      }

    .lineTitle{
        height: 0.25rem;  
        width: 12rem;       
        background-color: var(--contrast);
        border-radius: 100%;
    }

    h2{ 
        text-align: center;
        font-family: 'Architects Daughter', cursive;       
    }    

}

@media (max-width: 600px) {
    .container{        
        justify-content: space-evenly !important;
    }
}