.header{
      
    display: flex;
    justify-content: space-between;
    align-items: center;
      
    
}


.title{
    
    text-transform: uppercase;
    
    h2{  
        margin: 0;       
        font-size: 1.25rem;
        font-family: 'Architects Daughter', cursive;    
        span{
            color: var(--contrast)
        }  
    }

    h2::first-letter{
        color: var(--contrast)
    }      

}  


@media (max-width: 640px) {
     
  .menuBars{
    cursor: pointer;
    background-color: var(--contrast);
    padding: 2px;
    border-radius: 0.25rem;
    transition: 0.3s;
    z-index: 4;
    position: fixed;
    right: 1rem;
    top: 1.25rem;

    div {
        width: 27.2px;
        height: 1.7px;
        background: #fff;
        margin: 6.8px;
        transition: 0.3s;
    }
  }

  .fixed{    
    opacity: 0.75;
  }

  .active{ 
    background-color: var(--bg);
      .line1 {
        transform: rotate(-45deg) translate(-6.8px, 6.8px);
      }
      
      .line2 {
        opacity: 0;
      }
      
      .line3 {
        transform: rotate(45deg) translate(-4.25px, -5.95px);
      }
  }

}