.modal{
    background-color:rgba(18, 18, 20, 0);    
}

.container {
    cursor: move;

    position: absolute;
    top: 30%;
   
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color:rgba(18, 18, 20, 0.7);
    border: solid 0.1rem var(--contrast);

    min-width: 600px;
    min-height: 600px;

    padding: 1rem;
    .header {
        display: flex;
        justify-content: space-between;
       
        p {
            padding: 0;
            margin: 0;            
        }

        div {
            display: flex;
            gap: 8px;
            button {
                width: 15px;
                height: 15px;
                margin: 0;
                padding:0;
                background-color: red;

                border: none;
                border-radius: 100%;
            }
        }
    }


    form {
        display: flex;
        flex-direction: column;

        margin-top: 2rem;        
        p{  
            font-weight: bold;
            color: var(--highlight);
            padding: 0;
            margin: 0;

            font-size: large;
            transition: 0.2s;

            span {
                color: var(--contrast);                
            }
        }

        div {
            span {
                font-weight: bold;
                color: var(--highlight);
            }
        }

        input{
            background-color: rgba(18, 18, 20, 0);
            border: none;
            caret-color: var(--contrast);

            font-weight: bold;
            font-size: large;
            color: white;

            
        }

        .hidden::placeholder{
            opacity: 0;
        }
        
        .visibility {
            visibility: hidden;
        }

        input:focus{
            outline: none;
        }
        
    }

    form :last-of-type input{
       width: 90%;
    }  
    
}

.overlay{
    
    background: rgba(0, 0, 0, 0.8);
        
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}