.modal{
    background-color:rgba(18, 18, 20, 0);       
}

.container {
    cursor: move;

    position: absolute;    
    top:10%;
    min-width: 500px;
    min-height: 500px;

    padding: 1rem;    
    
    background-color:rgba(18, 18, 20, 0.7);
    border: solid 0.1rem var(--contrast);

    .header {
        display: flex;
        justify-content: space-between;
       
        p {
            padding: 0;
            margin: 0;            
        }

        div {
            display: flex;
            gap: 8px;
            button {
                width: 15px;
                height: 15px;
                margin: 0;
                padding:0;
                background-color: red;

                border: none;
                border-radius: 100%;
            }
        }
    }


    form {
        display: flex;
        flex-direction: column;

        margin-top: 2rem;        
        p{  
            font-weight: bold;
            color: var(--highlight);
            padding: 0;
            margin: 0;

            font-size: large;
            transition: 0.2s;

            span {
                color: var(--contrast);                
            }
        }

        div {
            span {
                font-weight: bold;
                color: var(--highlight);
            }
        }

        input{
            background-color: rgba(18, 18, 20, 0);
            border: none;
            caret-color: var(--contrast);

            font-weight: bold;
            font-size: large;
            color: white;
        }
        
        .review {
            max-width: 500px;
            code {
                color: var(--contrast);
                p{  
                    padding-left: 1.5rem;
                    color: var(--contrast);
                    font-weight: lighter;
                    span {
                        font-weight: lighter;
                    }
                }
            }
            
        }

        .hidden::placeholder{
            opacity: 0;
        }
        .hidden{
            opacity: 0;
        }
        
        .visibility {
            visibility: hidden;
        }

        input:focus{
            outline: none;
        }
        
    }

    form :last-of-type input{
       width: 90%;
    }  
    
}

.overlay{
    
    z-index: 5 !important; 
    background: rgba(0, 0, 0, 0.8);
        
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 640px) {
    .container{
        
        top: 0;
        left: 0;
       position: relative;
       margin-right: 0;

       min-width: 90vw;
        min-height: 80vh;

        transform: none;

        .header {
            div {
                display: flex;
                gap: 1rem;
                button {
                    width: 20px;
                    height: 20px;
                    margin: 0;
                    padding:0;
                    background-color: red;
    
                    border: none;
                    border-radius: 100%;
                }
            }
        }

        .buttons {

            button {
                border: none;
                font-size: 1.5rem;
                color: white;
                font-weight: bold;               
                background-color: rgba(0, 0, 0, 0);
            }
            
        }
    }

    
}