.container {
  background-color: var(--contrast);  

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1rem 0;

  position: relative;  

  border-bottom: solid 50px var(--bg);

}

.main {
  max-width: 800px;  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  h1{
    
    text-align: center;
    font-size: 4rem;
    max-width: 200px;
  }

  p {
    text-align: left;
  }

  .social{
    padding: 3rem 0;
    display: flex;

    margin-bottom: 5rem;
        
    gap: 2rem;
    font-size: 1.75rem;
   
    a{

      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      transition: 0.5s;
      
      gap: .5rem;
      span {
        font-size: 0.7rem;
      }
    }

    a:hover{
      transform: scale(1.2)
    }
    
    
  }

}


// divider

.dividerAbout {
  position:absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
 
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
  }
  .shapeFill {
    fill: var(--bg);
  }
}


@media (min-width: 640px) {
 .social{
  justify-content: space-between;
      align-content: center;
 }

 .container{
   padding: 0;
 }
}