.home {    
  background: rgb(43,45,47);
  background: radial-gradient(circle, rgb(28, 29, 31) 0%, rgba(18,18,20,1) 38%);
}

.container{
  max-width: 1028px;
  margin: 0 auto; 
  
  height: 80vh; 

  display: flex;
  justify-content: center;
  align-items: center;

}

.main {
  
  height: 100%;
  padding-right: 3rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  
  h1 {
    font-size: 3rem;
  }

  button{
    padding: 1rem;

    width: 10rem;
  }


}

.section{
  div {
    width: 400px;
    height: 400px;
    background-color: var(--contrast);
  }
}

.shapeDivider {  
  background-color: var(--bg);
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 0;


  svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 150px;
    
  }
  .shapeFill {
    fill: var(--contrast);
  }
  
}

@media (max-width: 600px) {
  
  .shapeDivider{
    svg{
      height: 4rem;
    }
  }
}
