.home {    
  background: rgb(43,45,47);
  background: radial-gradient(circle, rgb(28, 29, 31) 0%, rgba(18,18,20,1) 38%);

  max-width: 1028px;
  margin: 0 auto; 

  padding: 3.5rem 2rem 0;
  
}

.container{
 
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {  
 
  display: flex;
  flex-direction: column;
  gap: 3rem;

  justify-content: center;
  
  h1 {
    font-size: 44px;
    
  }

  button{
    padding: 1rem;
    background: var(--highlight);
    border-radius: 2px;
    border: none;

    color: white;

    font-size: 20px;

  }

  p{
    opacity: 0.75;
  }
}

.section{
  img {
    
    width: 174.38px;
    height: 180px;

    border-radius: 100%;

  }
}

.shapeDivider {  
  background-color: var(--bg);
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 0;


  svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 150px;
    
  }

  .shapeFill {
    fill: var(--contrast);
  }
  
}

@media (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column-reverse;    
    padding: 2rem;
  }

  .main{
    
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    h1{ 
      font-size: 32px;
      width: 70vw;
    } 
  }

  .shapeDivider{
    svg{
      height: 4rem;
    }
  }
}
