.container {
  padding: 0 2rem;
  background-color: var(--bg);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: var(--contrast);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 0.75rem 0;
  padding: 1.5rem;

  

  background-color: var(--bg-ligth);
  border-radius: 15px;
  
  p {
    font-size: 0.75rem !important;
    opacity: 0.75;
  }

  h3 {
    margin: 0 0 1rem;
    font-weight: normal;
  }
  
  img {
    width: 100%;
  }

  div {
    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 0.5rem 0;
    font-size: 2rem;
  }
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
