.container {
  padding: 0 2rem;
  background-color: var(--bg);

  display: flex;
  justify-content: center;
}


.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 3rem;

  font-size: 4.5rem;
  color: var(--highlight);

  padding-bottom: 5rem;

}